// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------

$base-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$base-font-size: 19px;
$base-line-height: 30px;

// -----------------------------------------------------------------------------
// Colors
// -----------------------------------------------------------------------------

$brand-color: #5B13FE;
$base-text-color: #737373;
$strong-text-color: #333;

// -----------------------------------------------------------------------------
// Layout
// -----------------------------------------------------------------------------

$content-width: 1600px;

// -----------------------------------------------------------------------------
// Spacing
// -----------------------------------------------------------------------------

$base-grid-unit: 6px;
$double-grid-unit: $base-grid-unit * 2;

// Aliases
$u: $base-grid-unit;
$u2: $double-grid-unit;


// -----------------------------------------------------------------------------
// Breakpoints
// -----------------------------------------------------------------------------

$breakpoints: (
  'small':  ('min-width': 400px, 'cols': 6, 'gutter': 1/3),
  'medium': ('min-width': 900px, 'cols': 12, 'gutter': 1/3),
  'large':  ('min-width': 1200px, 'cols': 12, 'gutter': 1/3)
);
